<!--search  area-->
<div class="searchArea">

    <div class="form-group formdiv">
        <label>搜索条件</label>
        <input type="text" class="form-control" name="keyword" placeholder="订单编号"/>
    </div>

    <div class="form-group formdiv">
        <label>订单状态</label>
        <select name="status" class="form-control">
            <option value="">全部</option>
            <option value="1">订单新增</option>
            <option value="2">审核通过</option>
            <option value="-2">审核失败</option>
            <option value="3">派单到康复师</option>
            <option value="4">康复师接单</option>
            <option value="10">订单完成</option>
        </select>
    </div>

    <div class="form-group formdiv">
        <input type="text" class="form-control datepicker-autoclose" name="startTime" placeholder="请选择开始时间">
        <input type="text" class="form-control datepicker-autoclose" name="endTime" placeholder="请选择结束时间">
    </div>
    <button class="btn btn-outline btn-info search" type="button">
        <i class="iconfont icon-sousuo"></i>查询
    </button>
    <button class="btn btn-outline btn-success reset" type="button">
        <i class="iconfont icon-shuaxin"></i>重置
    </button>
</div>
