<!DOCTYPE html>
<html class="ui-page-rule">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>居家康复患者端</title>
    #parse("sys_param.vm")
    #parse("addon/css.vm")
    #parse("addon/javascript.vm")
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="go-back" href="javascript:history.go(-1);"><span class="mui-icon mui-icon-back"></span></a>
    <h1 class="mui-title">修改密码</h1>
</header>

<div class="mui-content">
    <div class="mui-card" style="margin-top: 30px;">
        <form class="mui-input-group">
            <input hidden id="mypassword" value="$!{account.password}">
            <div class="mui-input-row">
                <label style="width: 20%"><span class="mui-icon mui-icon-locked"></span></label>
                <input style="width: 80%" type="password" id="oldpassword" name="oldpassword" class="mui-input-password" placeholder="旧密码" />
            </div>
            <div class="mui-input-row">
                <label style="width: 20%"><span class="mui-icon mui-icon-loop"></span></label>
                <input style="width: 80%" type="password" id="newpassword" name="newpassword" class="mui-input-password" placeholder="新密码" />
            </div>
            <div class="mui-input-row">
                <label style="width: 20%"><span class="mui-icon mui-icon-checkmarkempty"></span></label>
                <input style="width: 80%" type="password" id="confirmpassword" name="confirmpassword" class="mui-input-password" placeholder="确认新密码" />
            </div>
        </form>
    </div>
    <div class="mui-button-row" style="margin: 10px 15px;">
        <button id="updatepw" type="button" style="border-radius: 15px" class="mui-btn mui-btn-block mui-btn-primary">修改密码</button>
    </div>
</div>
</body>
</html>
<script src="$!{CONTEXT_PATH}/static/javascript/patient/updatepw.js"></script>
