#set($CONTEXT_PATH = ${rc.contextPath})
#set($SERVER_PATH = "http://" + ${request.serverName} + ":" + ${request.serverPort} + $!{CONTEXT_PATH})
#set($JS_VERSION = "1.1.0")
#set($TITLE = "居家康复服务平台")
<script>
	var base = '$!{CONTEXT_PATH}';
</script>
