<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.dao.mapping.OrderInfoExtMapper" >

  <resultMap type="com.bs.dao.entity.OrderInfoExt" id="OrderExtResult">
    <id column="id" property="id" />
    <association property="orderInfo" resultMap="com.bs.dao.mapping.OrderInfoMapper.BaseResultMap" />
    <association property="orderBooking" resultMap="com.bs.dao.mapping.OrderBookingMapper.BaseResultMap" />
  </resultMap>
  <!-- 根据订单状态和账户统计 -->
  <select id="qryOrderNumByAccountIdAndStatus" resultType="java.lang.Integer" parameterType="java.util.Map">
    select
    count(1)
    from
    order_info a, order_booking b
    where
    a.ID = b.ORDER_ID
    <if test="_parameter != null" >
      <trim prefix="and (" suffix=")" prefixOverrides="and" >
        <include refid="Example_Where_Clause_OrderInfo" />
      </trim>
      <trim prefix="and (" suffix=")" prefixOverrides="and">
        <include refid="Example_Where_Clause_OrderBooking" />
      </trim>
    </if>
  </select>

  <!-- 根据订单状态和康复编码统计 -->
  <select id="qryOrderListByAccountIdAndStatus" resultMap="OrderExtResult" parameterType="com.bs.dao.entity.OrderInfoExtExample">
    select
    <include refid="Base_Column_List_OrderInfo" />
    ,
    <include refid="Base_Column_List_OrderBooking" />
    from
    order_info a, order_booking b
    where
    a.ID = b.ORDER_ID
    <if test="_parameter != null" >
      <trim prefix="and (" suffix=")" prefixOverrides="and" >
        <include refid="Example_Where_Clause_OrderInfo" />
      </trim>
      <trim prefix="and (" suffix=")" prefixOverrides="and">
        <include refid="Example_Where_Clause_OrderBooking"/>
      </trim>
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="orderInfoExample.limitClauseStart != null and orderInfoExample.limitClauseStart >= 0" >
      limit #{accountExample.limitClauseStart}, #{accountExample.limitClauseCount}
    </if>
  </select>

  <sql id="Example_Where_Clause_OrderInfo" >
    <foreach collection="orderInfoExample.oredCriteria" item="criteria" separator="or" >
      <if test="criteria.valid" >
        <trim prefix="(" suffix=")" prefixOverrides="and" >
          <foreach collection="criteria.criteria" item="criterion" >
            <choose >
              <when test="criterion.noValue" >
                and a.${criterion.condition}
              </when>
              <when test="criterion.singleValue" >
                and a.${criterion.condition} #{criterion.value}
              </when>
              <when test="criterion.betweenValue" >
                and a.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
              </when>
              <when test="criterion.listValue" >
                and a.${criterion.condition}
                <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                  #{listItem}
                </foreach>
              </when>
            </choose>
          </foreach>
        </trim>
      </if>
    </foreach>
  </sql>

  <sql id="Example_Where_Clause_OrderBooking" >
    <foreach collection="orderBookingExample.oredCriteria" item="criteria" separator="or" >
      <if test="criteria.valid" >
        <trim prefix="(" suffix=")" prefixOverrides="and" >
          <foreach collection="criteria.criteria" item="criterion" >
            <choose >
              <when test="criterion.noValue" >
                and b.${criterion.condition}
              </when>
              <when test="criterion.singleValue" >
                and b.${criterion.condition} #{criterion.value}
              </when>
              <when test="criterion.betweenValue" >
                and b.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
              </when>
              <when test="criterion.listValue" >
                and b.${criterion.condition}
                <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                  #{listItem}
                </foreach>
              </when>
            </choose>
          </foreach>
        </trim>
      </if>
    </foreach>
  </sql>

  <sql id="Base_Column_List_OrderInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    a.ID, a.ORDER_CODE, a.ACCOUNT_ID, a.TYPE_ID, a.ORDER_STATUS, a.AUDIT_DESC, a.REFUSE_REASON, a.CREATE_TIME,
    a.UPDATE_TIME
  </sql>

  <sql id="Base_Column_List_OrderBooking" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    b.ID, b.ORDER_ID, b.VISIT_TIME, b.NAME, b.TELEPHONE, b.AGE, b.SEX, b.ADDRESS, b.FILEIDS
  </sql>
</mapper>